<?xml version="1.0" ?>
<robot name="jk_rollin" xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:include filename="$(find jk_rollin_description)/urdf/common_properties.xacro"/>
	<xacro:include filename="$(find jk_rollin_description)/urdf/jk_body.xacro"/>
	<xacro:include filename="$(find jk_rollin_description)/urdf/jk_addon.xacro"/>
	<xacro:include filename="$(find jk_rollin_description)/urdf/ydlidar_tg15.xacro"/>
	<xacro:include filename="$(find jk_rollin_description)/urdf/sensors/hokuyo_urg04_laser.urdf.xacro"/>
	<xacro:include filename="$(find jk_rollin_description)/urdf/jk_arm.xacro"/>
	<xacro:include filename="$(find jk_rollin_description)/urdf/jk_rollin.gazebo.xacro"/>
	<xacro:include filename="$(find jk_rollin_description)/urdf/jk_arm.gazebo.xacro"/>


	<xacro:jk_body />

	<xacro:jk_cube_rack/>

	<xacro:ydlidar_tg15 link_prefix="ydlidar_base"/>

	<joint name="setup_to_laser" type="fixed">
		<parent link="base_link"/>
		<child link="ydlidar_base_link"/>
		<origin xyz="-0.065 0 0.353"/>
	</joint>

	<xacro:jk_arm link_prefix="arm_base"/>

	<joint name="setup_to_arm" type="fixed">
		<parent link="base_link"/>
		<child link="arm_base_link"/>
		<origin xyz="0.0 0 0.0"/>
	</joint>
	
	<xacro:hokuyo_urg04_laser name="hokuyo_laser" parent="base" ros_topic="scan_hokuyo" update_rate="10" min_angle="-1.57"  max_angle="1.57">
	    <origin xyz="-0.160 0.00 -0.016" rpy="${m_PI} 0.0 ${m_PI}"/>
	</xacro:hokuyo_urg04_laser>


</robot>
